/* Split the screen in half */
.content {
    height: 100%;
    width: 83%;
    position: fixed;
    top: 5%;
    overflow-x: auto;
    padding-top: 20px;
    pointer-events: all;
  }

.navigation{
    height: 100%;
    width: 15%;
    position: fixed;
    top: 5%;
    overflow-x: auto;
    padding-top: 20px;  
    pointer-events: all;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.btn-group button {
    background-color: #194b7d;
    padding: 10px;
    border: 1px solid white; 
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width:100%;
    overflow: auto;
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:hover {
    background-color: #002B39;
}

.title{
    font-family: Calibri, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #194b7d;
}
