<div>
    <b>Clients Status:</b></br>
    {{ if .ClientPending}}
       {{ range .ClientPending}}
            Node: {{ .Node}} </br>
            &nbsp;Pod: {{.Pod}}  </br>
            &nbsp;Expected Image: {{.ExpectedImage}} </br>
            &nbsp;Current Image:&nbsp;&nbsp; {{.CurrentImage}} </br>
            &nbsp;Blocking Pods:  </br>
            {{if .BlockingPods}}
            {{ range .BlockingPods }}
                <span>&nbsp;&nbsp;{{.}} </br></span>
            {{end}}
            {{end}}
        {{end}}
    {{else}}
    &nbsp; All Quobyte clients are up-to-date.</br>     
    {{end}}
    <b>Registry Service Status:</b></br>
        {{ if .RegistryPending}}
        {{ range .RegistryPending}}
            Node: {{ .Node}} </br>
            &nbsp;Pod: {{.Pod}}  </br>
            &nbsp;Expected Image: {{.ExpectedImage}} </br>
            &nbsp;Current Image:&nbsp;&nbsp; {{.CurrentImage}} </br>
        {{end}}
        {{else}}
        &nbsp; All Quobyte registry services are up-to-date.</br>     
        {{end}}
        <b>Data Service Status:</b></br>
        {{ if .DataPending}}
        {{ range .DataPending}}
            Node: {{ .Node}} </br>
            &nbsp;Pod: {{.Pod}}  </br>
            &nbsp;Expected Image: {{.ExpectedImage}} </br>
            &nbsp;Current Image:&nbsp;&nbsp; {{.CurrentImage}} </br>
        {{end}}
        {{else}}
        &nbsp; All Quobyte data services are up-to-date.  </br>   
        {{end}}
        <b>Metadata Service Status:</b></br>
        {{ if .MetadataPending}}
        {{ range .MetadataPending}}
            Node: {{ .Node}} </br>
            &nbsp;Pod: {{.Pod}}  </br>
            &nbsp;Expected Image: {{.ExpectedImage}} </br>
            &nbsp;Current Image:&nbsp;&nbsp; {{.CurrentImage}} </br>
        {{end}}
        {{else}}
        &nbsp; All Quobyte metadata services are up-to-date.  </br>   
        {{end}}
   </div>  
